# Imports the shared Azure CI tools from the master branch of shotgunsoftware/tk-ci-tools
resources:
  repositories:
    - repository: templates
      type: github
      name: shotgunsoftware/tk-ci-tools
      ref: refs/heads/master
      endpoint: shotgunsoftware

# We want builds to trigger for 3 reasons:
# - The master branch sees new commits
# - Each PR should get rebuilt when commits are added to it.
# - When we tag something
trigger:
  branches:
    include:
    - master
  tags:
    include:
    - v*
pr:
  branches:
    include:
    - "*"

# This pulls in a variable group from Azure. Variables can be encrypted or not.
variables:
- group: deploy-secrets

# Launch into the build pipeline.
jobs:
- template: build-pipeline.yml@templates
  parameters:
    additional_repositories:
      - name: tk-framework-desktopclient
      - name: tk-shotgun
    post_tests_steps:
      - bash: python -m pytest tests/integration_tests/interpreters.py
        displayName: Run interpreter integeration tests
        env:
          SHOTGUN_HOST: $(sg.ci.host)
          SHOTGUN_SCRIPT_NAME: $(shotgun_script_name)
          SHOTGUN_SCRIPT_KEY: $(shotgun_script_key)
          TK_TOOLCHAIN_HOST: $(sg.ci.host)
          TK_TOOLCHAIN_USER_LOGIN: $(sg.ci.human.login)
          TK_TOOLCHAIN_USER_PASSWORD: $(sg.ci.human.password)
