Twisted==22.10.0 # This is the last version that supports Python 3.7
certifi==2023.7.22
autobahn==22.12.1
pyOpenSSL==24.0.0
service_identity==21.1.0

# When updating certifi to match the version released with Desktop, some other unrelated modules (that are second
# level dependencies) were updating. The list below pins these versions for now until the next time we need to update
# modules and rebuild the binaries
attrs==22.2.0
cffi==1.15.1
cryptography==42.0.4 # Only for SAST. Should be also updated in resources/python/update_requirements.py
hyperlink==21.0.0
idna==3.4
six==1.16.0
zope.interface==5.5.2
setuptools==65.5.1  # CVE-2022-40897
