# Copyright (c) 2017 Shotgun Software Inc.
#
# CONFIDENTIAL AND PROPRIETARY
#
# This work is provided "AS IS" and subject to the Shotgun Pipeline Toolkit
# Source Code License included in this distribution package. See LICENSE.
# By accessing, using, copying or modifying this work you indicate your
# agreement to the Shotgun Pipeline Toolkit Source Code License. All rights
# not expressly granted therein are reserved by Shotgun Software Inc.

pycparser==2.18
Automat==0.6.0
asn1crypto==0.22.0
ipaddress==1.0.18
pyasn1==0.3.1
certifi==2017.4.17
hyperlink==17.3.0
service_identity==17.0.0
attrs==17.2.0
pyasn1_modules==0.0.9
txaio==2.8.1
idna==2.5
setuptools==36.2.2
enum34==1.1.6
six==1.10.0
constantly==15.1.0
incremental==17.5.0
pyOpenSSL==17.2.0
# Twisted has a single binary file, which is used when you want to pass file desriptors directly
# to the API to stream data, which we won't need, so we will remove the binary when 
Twisted==17.5.0
autobahn==17.7.1