
# Copyright (c) 2024 Shotgun Software Inc.
#
# CONFIDENTIAL AND PROPRIETARY
#
# This work is provided "AS IS" and subject to the Shotgun Pipeline Toolkit
# Source Code License included in this distribution package. See LICENSE.
# By accessing, using, copying or modifying this work you indicate your
# agreement to the Shotgun Pipeline Toolkit Source Code License. All rights
# not expressly granted therein are reserved by Shotgun Software Inc.
Automat==22.10.0
Twisted==23.10.0
attrs==22.2.0
autobahn==22.12.1
certifi==2023.7.22
constantly==23.10.4
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
pyOpenSSL==24.0.0
pyasn1-modules==0.3.0
pyasn1==0.5.1
pycparser==2.21
service-identity==21.1.0
six==1.16.0
txaio==23.1.1
typing_extensions==4.10.0
