
# Copyright (c) 2023 Shotgun Software Inc.
#
# CONFIDENTIAL AND PROPRIETARY
#
# This work is provided "AS IS" and subject to the Shotgun Pipeline Toolkit
# Source Code License included in this distribution package. See LICENSE.
# By accessing, using, copying or modifying this work you indicate your
# agreement to the Shotgun Pipeline Toolkit Source Code License. All rights
# not expressly granted therein are reserved by Shotgun Software Inc.
Automat==22.10.0
Twisted==22.10.0
attrs==22.2.0
autobahn==22.12.1
certifi==2022.12.7
constantly==15.1.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
pyOpenSSL==23.0.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.21
service-identity==21.1.0
six==1.16.0
txaio==22.2.1
typing_extensions==4.4.0
