
# Copyright (c) 2022 Shotgun Software Inc.
#
# CONFIDENTIAL AND PROPRIETARY
#
# This work is provided "AS IS" and subject to the Shotgun Pipeline Toolkit
# Source Code License included in this distribution package. See LICENSE.
# By accessing, using, copying or modifying this work you indicate your
# agreement to the Shotgun Pipeline Toolkit Source Code License. All rights
# not expressly granted therein are reserved by Shotgun Software Inc.
Automat==20.2.0
PyHamcrest==1.10.1
Twisted==22.4.0
attrs==21.2.0
autobahn==19.11.2
certifi==2021.5.30
constantly==15.1.0
enum34==1.1.10
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
ipaddress==1.0.23
pyOpenSSL==20.0.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.21
service-identity==21.1.0
six==1.16.0
txaio==18.8.1
typing==3.10.0.0
